/* 
    Document   : common
    Created on : 09.05.2013, 21:06:23
    Author     : Саня
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html {
    height: 100%;
}

#container, #row {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
}

#map {
    height: 100%;
}

#left {
    height: 100%;
}

#mapWrapper {
    height: 85%;
}

#routeList {
    height: 70%;
    overflow: auto;
}